In [1]:
import sys
sys.path.append("..")
%cd ..

/Users/AsgerSturisTang/OneDrive - Danmarks Tekniske Universitet/DTU/6. Semester/Bachelor2021

In [2]:
import pyforest
from DataPrep.ImportData import importer

In [3]:
cData = pd.read_csv("Data/createdDat/CenteredData.csv")

/Users/AsgerSturisTang/OneDrive - Danmarks Tekniske Universitet/DTU/6. Semester/Bachelor2021/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
cData["Label"].isna().sum()

2

In [5]:
bData = pd.read_csv("Data/createdDat/TimeBuckets.csv")
bData.head()

,Unnamed: 0,Start Date,Label,Original Port Type,Charging Time (hh:mm:ss),Energy (kWh),Total Duration (hh:mm:ss),Port Number,CenterLon,CenterLat,Level 1,Level 2
0,0,2011-07-29 20:00:00,0.0,['Level 2'],103.045175,5.646439,165.823977,2.0,-122.16,37.445,0,1
1,1,2011-07-29 22:00:00,0.0,['Level 2'],11.004825,0.603018,17.709357,2.0,-122.16,37.445,0,1
2,2,2011-07-30 00:00:00,0.0,['Level 2'],1.900000,0.106588,2.100000,2.0,-122.16,37.445,0,1
3,3,2011-07-30 08:00:00,0.0,['Level 2'],104.188846,6.050525,104.215824,2.0,-122.16,37.445,0,1
4,4,2011-07-30 10:00:00,0.0,['Level 2'],120.217899,6.981374,120.249027,2.0,-122.16,37.445,0,1

In [6]:
bData["Label"].unique()

array([0., 1., 2., 3., 4., 5., 6., 7.])

In [3]:
im = importer()

In [4]:
dfClean = im.Import()

In [19]:
dfClean["Start Date"].max()

Timestamp('2019-12-31 00:00:00')

In [9]:
dfClean["Label"].unique()

array([0., 1., 2., 3., 4., 5., 6., 7.])

In [13]:
dfClean.shape

bData.columns

Index(['Unnamed: 0', 'Start Date', 'Label', 'Original Port Type',
       'Charging Time (hh:mm:ss)', 'Energy (kWh)', 'Total Duration (hh:mm:ss)',
       'Port Number', 'CenterLon', 'CenterLat', 'Level 1', 'Level 2'],
      dtype='object')

In [29]:
labels = dfClean["Label"].unique()

dfClean2 = pd.DataFrame(columns = ["Charging Time (mins)", "Energy (kWh)", "Total Duration (mins)","Port Number", "CenterLon", "CenterLat", "Level 1", "Level 2"])


for label in labels:
    d = dfClean[dfClean["Label"] == label].resample("D", on="Start Date").agg({'Charging Time (mins)':'sum', 'Energy (kWh)':'sum', 'Total Duration (mins)':'sum', 'Port Number':'sum', 'CenterLon':'min', 'CenterLat':'min','Level 1':'sum', 'Level 2': 'sum'})
    d["Label"] = label
    
    dfClean2 = dfClean2.append(d)

In [30]:
dfClean2 = dfClean2.reset_index()

In [35]:

dfClean2 = dfClean2.rename(columns = {"index":"Start Date"})

,Start Date,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,Label
0,2011-07-29,114.050000,3.124728,183.533333,4.0,-122.160000,37.445,0,2,0.0
1,2011-07-30,426.233333,12.087886,454.433333,14.0,-122.160000,37.445,0,7,0.0
2,2011-07-31,647.866667,18.604581,725.983333,16.0,-122.160000,37.445,0,8,0.0
3,2011-08-01,95.133333,2.520622,203.566667,4.0,-122.160000,37.445,0,2,0.0
4,2011-08-02,72.550000,2.098609,72.716667,2.0,-122.160000,37.445,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...
17381,2019-12-27,1056.250000,38.408029,1122.883333,24.0,-122.143998,37.428,0,15,7.0
17382,2019-12-28,417.533333,26.574307,1550.883333,9.0,-122.143998,37.429,0,7,7.0
17383,2019-12-29,626.400000,18.724080,669.133333,16.0,-122.143998,37.428,0,11,7.0
17384,2019-12-30,1305.850000,23.697765,1357.183333,25.0,-122.143998,37.428,0,19,7.0
17385,2019-12-31,1004.683333,24.812763,1006.866667,26.0,-122.143998,37.428,0,17,7.0

In [23]:
dfClean2.isna().sum()

Charging Time (mins)       0
Energy (kWh)               0
Total Duration (mins)      0
Port Number                0
CenterLon                100
CenterLat                100
Level 1                    0
Level 2                    0
Label                      0
dtype: int64