In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy
import math
import plotly.express as px

import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

import datetime as dt
import time
import matplotlib.pyplot as plt

import holidays
import datetime

In [2]:
import sys 
sys.path.append("..")
%cd ..

C:\Users\User\OneDrive - Danmarks Tekniske Universitet\SAS_030919\6. Semester\BSc\Bachelor2021

In [3]:
from DataPrep.ImportData import importer

In [6]:
df = importer().LagCreation()

In [5]:
df.head()

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_10,Year_Month_11,Year_Month_12,is_holiday,is_weekend,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5
5,2011-08-03,0.0,518.816402,1.679882,712.717196,16.0,-122.16,37.445,0,8,...,0,0,0,0,0,2.098609,1.260311,2.325573,1.726841,1.562364
6,2011-08-04,0.0,405.733598,1.899242,639.499471,10.0,-122.16,37.445,0,5,...,0,0,0,0,0,1.679882,2.098609,1.260311,2.325573,1.726841
7,2011-08-05,0.0,573.500000,1.574471,592.750000,20.0,-122.16,37.445,0,10,...,0,0,0,0,0,1.899242,1.679882,2.098609,1.260311,2.325573
8,2011-08-06,0.0,897.216667,1.982032,1274.100000,28.0,-122.16,37.445,0,14,...,0,0,0,0,1,1.574471,1.899242,1.679882,2.098609,1.260311
9,2011-08-07,0.0,252.950000,2.232860,1311.750000,6.0,-122.16,37.445,0,3,...,0,0,0,0,1,1.982032,1.574471,1.899242,1.679882,2.098609

In [31]:
df2 = importer().is_holiday(df)

In [32]:
df2

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_9,Year_Month_10,Year_Month_11,Year_Month_12,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5,is_holiday
5,2011-08-03,0,0.0,3.164483,0.0,10,-122.160,37.445,0,5,...,0,0,0,0,3.173573,2.520622,6.201527,3.008648,3.124728,0
6,2011-08-04,0,0.0,3.556425,0.0,4,-122.160,37.445,0,2,...,0,0,0,0,3.164483,3.173573,2.520622,6.201527,3.008648,0
7,2011-08-05,0,0.0,3.148942,0.0,10,-122.160,37.445,0,5,...,0,0,0,0,3.556425,3.164483,3.173573,2.520622,6.201527,0
8,2011-08-06,0,0.0,4.624740,0.0,12,-122.160,37.445,0,6,...,0,0,0,0,3.148942,3.556425,3.164483,3.173573,2.520622,0
9,2011-08-07,0,0.0,3.349290,0.0,4,-122.160,37.445,0,2,...,0,0,0,0,4.624740,3.148942,3.556425,3.164483,3.173573,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14394,2019-12-27,5,0.0,8.752353,0.0,17,-122.158,37.448,0,11,...,0,0,0,1,6.376214,4.990875,4.025105,5.482148,6.458643,0
14395,2019-12-28,5,0.0,5.035467,0.0,15,-122.158,37.448,0,10,...,0,0,0,1,8.752353,6.376214,4.990875,4.025105,5.482148,0
14396,2019-12-29,5,0.0,8.451375,0.0,8,-122.158,37.448,0,4,...,0,0,0,1,5.035467,8.752353,6.376214,4.990875,4.025105,0
14397,2019-12-30,5,0.0,5.672222,0.0,18,-122.158,37.448,0,12,...,0,0,0,1,8.451375,5.035467,8.752353,6.376214,4.990875,0
14398,2019-12-31,5,0.0,10.037769,0.0,13,-122.158,37.448,0,9,...,0,0,0,1,5.672222,8.451375,5.035467,8.752353,6.376214,0

In [23]:
df2['is_weekend'] = (df2['Start Date'].dt.weekday > 4).astype(int)

In [24]:
df2

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_10,Year_Month_11,Year_Month_12,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5,is_holiday,is_weekend
5,2011-08-03,0,0.0,3.164483,0.0,10,-122.160,37.445,0,5,...,0,0,0,3.173573,2.520622,6.201527,3.008648,3.124728,0,0
6,2011-08-04,0,0.0,3.556425,0.0,4,-122.160,37.445,0,2,...,0,0,0,3.164483,3.173573,2.520622,6.201527,3.008648,0,0
7,2011-08-05,0,0.0,3.148942,0.0,10,-122.160,37.445,0,5,...,0,0,0,3.556425,3.164483,3.173573,2.520622,6.201527,0,0
8,2011-08-06,0,0.0,4.624740,0.0,12,-122.160,37.445,0,6,...,0,0,0,3.148942,3.556425,3.164483,3.173573,2.520622,0,1
9,2011-08-07,0,0.0,3.349290,0.0,4,-122.160,37.445,0,2,...,0,0,0,4.624740,3.148942,3.556425,3.164483,3.173573,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14394,2019-12-27,5,0.0,8.752353,0.0,17,-122.158,37.448,0,11,...,0,0,1,6.376214,4.990875,4.025105,5.482148,6.458643,0,0
14395,2019-12-28,5,0.0,5.035467,0.0,15,-122.158,37.448,0,10,...,0,0,1,8.752353,6.376214,4.990875,4.025105,5.482148,0,1
14396,2019-12-29,5,0.0,8.451375,0.0,8,-122.158,37.448,0,4,...,0,0,1,5.035467,8.752353,6.376214,4.990875,4.025105,0,1
14397,2019-12-30,5,0.0,5.672222,0.0,18,-122.158,37.448,0,12,...,0,0,1,8.451375,5.035467,8.752353,6.376214,4.990875,0,0
14398,2019-12-31,5,0.0,10.037769,0.0,13,-122.158,37.448,0,9,...,0,0,1,5.672222,8.451375,5.035467,8.752353,6.376214,0,0

### Turning it into a function

In [25]:
def is_weekend(df):
    df['is_weekend'] = (df['Start Date'].dt.weekday > 4).astype(int) 
    return df

In [33]:
test = is_weekend(df2)

In [34]:
test.head()

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_10,Year_Month_11,Year_Month_12,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5,is_holiday,is_weekend
5,2011-08-03,0,0.0,3.164483,0.0,10,-122.16,37.445,0,5,...,0,0,0,3.173573,2.520622,6.201527,3.008648,3.124728,0,0
6,2011-08-04,0,0.0,3.556425,0.0,4,-122.16,37.445,0,2,...,0,0,0,3.164483,3.173573,2.520622,6.201527,3.008648,0,0
7,2011-08-05,0,0.0,3.148942,0.0,10,-122.16,37.445,0,5,...,0,0,0,3.556425,3.164483,3.173573,2.520622,6.201527,0,0
8,2011-08-06,0,0.0,4.624740,0.0,12,-122.16,37.445,0,6,...,0,0,0,3.148942,3.556425,3.164483,3.173573,2.520622,0,1
9,2011-08-07,0,0.0,3.349290,0.0,4,-122.16,37.445,0,2,...,0,0,0,4.624740,3.148942,3.556425,3.164483,3.173573,0,1