In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy
import math
import plotly.express as px

import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

import datetime as dt
import time
import matplotlib.pyplot as plt

import holidays
import datetime

In [2]:
import sys 
sys.path.append("..")
%cd ..

C:\Users\User\OneDrive - Danmarks Tekniske Universitet\SAS_030919\6. Semester\BSc\Bachelor2021

In [3]:
df = pd.read_csv('.\data\ChargePoint Data CY20Q4.csv', low_memory=False)

In [4]:
df.head()

,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Transaction Date (Pacific Time),Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Longitude,Currency,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID,County,System S/N,Model Number
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/29/2011 20:17,PDT,7/29/2011 23:20,PDT,7/29/2011 23:20,3:03:32,1:54:03,...,-122.160309,USD,0.0,Plug Out at Vehicle,3,95124.0,3284,NaN,NaN,NaN
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 0:00,PDT,7/30/2011 0:02,PDT,7/30/2011 0:02,0:02:06,0:01:54,...,-122.160309,USD,0.0,Customer,4,94301.0,4169,NaN,NaN,NaN
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 8:16,PDT,7/30/2011 12:34,PDT,7/30/2011 12:34,4:17:32,4:17:28,...,-122.160309,USD,0.0,Plug Out at Vehicle,5,94301.0,4169,NaN,NaN,NaN
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 14:51,PDT,7/30/2011 16:55,PDT,7/30/2011 16:55,2:03:24,2:02:58,...,-122.160309,USD,0.0,Customer,6,94302.0,2545,NaN,NaN,NaN
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 18:51,PDT,7/30/2011 20:03,PDT,7/30/2011 20:03,1:11:24,0:43:54,...,-122.160309,USD,0.0,Plug Out at Vehicle,7,94043.0,3765,NaN,NaN,NaN

In [5]:
df["MAC Address"]=df["MAC Address"].str.replace(":", "")

In [6]:
df['MAC Address'].unique()

array(['000D6F00015A9D76', '000D6F00009ED39E', '000D6F0000A20F47',
       '000D6F0000A2108E', '000D6F0000A20D9E', '000D6F00009DCFC3',
       '000D6F000154FB5F', '000D6F00015B7509', '000D6F000154EF9A',
       '000D6F000154FFDB', '000D6F000154FFC5', '000D6F00015B906A',
       '000D6F00009ED727', '000D6F00009DCC2B', '000D6F00015A96E4',
       '0024B10000021146', '0024B100000210FE', '0024B100000207FA',
       '000D6F0004B8A128', '0024B10000021331', '0024B10000021323',
       '0024B10000021329', '0024B100000213D1', '0024B100000213B7',
       '000D6F0004B89F68', '000D6F00015B9402', '000D6F00009D9A1B',
       '0024B10000025959', '0024B10000025939', '0024B10000021327',
       '0024B10000026B43', '0024B10000026D37', '0024B10000026D51',
       '0024B1000002050E', '0024B10000024233', '0024B10000024277',
       '0024B100000203AD', '0024B1000002965D', '0024B10000024213',
       '0024B10000021262', '0024B10000029BE4', '0024B10000029F81',
       '0024B10000029B7F', '0024B10000029BC9', '0024B100000299D8',
       '0024B10000029DF7', '0024B1000002BF6D', '0024B1000002ED11',
       '0024B10000033A0A', '0024B10000034209', '0024B1000003778F',
       '0024B10000025B77', '0024B1000003BE6F', '0024B1000003CD37',
       '0024B1000003CF38', '0024B1000003763E', '0024B1000003769F',
       '0024B10000037682', '0024B1000003765F', '0024B10000037653',
       '0024B10000037648', '0024B10000037626', '0024B10000037680',
       '0024B100000376F9', '0024B10000037652', '0024B100000375EE',
       '0024B100000374DD', '0024B1000003766E'], dtype=object)

In [69]:
df['Port Number'].unique()

array([2, 1], dtype=int64)

In [7]:
MACs = list(df['MAC Address'].unique())

In [8]:
for mac in MACs: 
    print(mac)
    print(df[df['MAC Address'] == mac]['Latitude'].unique())
    print(df[df['MAC Address'] == mac]['Longitude'].unique())

000D6F00015A9D76
[37.444572 37.444489]
[-122.160309 -122.16037 ]
000D6F00009ED39E
[37.444607 37.446583]
[-122.160263 -122.162109]
000D6F0000A20F47
[37.443676]
[-122.16288]
000D6F0000A2108E
[37.446373 37.44651 ]
[-122.162331 -122.16214 ]
000D6F0000A20D9E
[37.446373 37.446613]
[-122.162331 -122.162308]
000D6F00009DCFC3
[37.44651]
[-122.16214]
000D6F000154FB5F
[37.422104]
[-122.11351]
000D6F00015B7509
[37.422138]
[-122.113457]
000D6F000154EF9A
[37.422169]
[-122.11248]
000D6F000154FFDB
[37.422146]
[-122.112511]
000D6F000154FFC5
[37.422123]
[-122.113487]
000D6F00015B906A
[37.422119]
[-122.112556]
000D6F00009ED727
[37.445492 37.445499]
[-122.138931 -122.138893]
000D6F00009DCC2B
[37.445499 37.445496]
[-122.138847 -122.138863]
000D6F00015A96E4
[37.445492 37.445496]
[-122.139    -122.138924]
0024B10000021146
[37.449348 37.448284]
[-122.157768 -122.158272]
0024B100000210FE
[37.443558]
[-122.162849]
0024B100000207FA
[37.449375 37.448238]
[-122.157799 -122.158203]
000D6F0004B8A128
[37.422104]
[-122.11351]
0024B10000021331
[37.444359]
[-122.159904]
0024B10000021323
[37.428318]
[-122.144188]
0024B10000021329
[37.427349 37.426155]
[-122.145676 -122.146065]
0024B100000213D1
[37.449348 37.448284 37.448273]
[-122.157768 -122.158218 -122.158234]
0024B100000213B7
[37.42733  37.426182]
[-122.145699 -122.146065]
000D6F0004B89F68
[37.422146]
[-122.112511]
000D6F00015B9402
[37.443676]
[-122.16288]
000D6F00009D9A1B
[37.446613]
[-122.162308]
0024B10000025959
[37.443146 37.443344]
[-122.163017 -122.163231]
0024B10000025939
[37.443127 37.443443]
[-122.163033 -122.163139]
0024B10000021327
[37.443378 37.443138]
[-122.163048 -122.163239]
0024B10000026B43
[37.446667]
[-122.16217]
0024B10000026D37
[37.446785]
[-122.162369]
0024B10000026D51
[37.44669]
[-122.162231]
0024B1000002050E
[37.448238]
[-122.158203]
0024B10000024233
[37.448284]
[-122.158272]
0024B10000024277
[37.448273]
[-122.158234]
0024B100000203AD
[37.444359 37.444706]
[-122.159904 -122.160324]
0024B1000002965D
[37.444706]
[-122.160324]
0024B10000024213
[37.443558 37.443211]
[-122.162849 -122.163078]
0024B10000021262
[37.443211]
[-122.163078]
0024B10000029BE4
[37.4286]
[-122.14399]
0024B10000029F81
[37.428623]
[-122.144043]
0024B10000029B7F
[37.426228]
[-122.145981]
0024B10000029BC9
[37.42857]
[-122.143929]
0024B100000299D8
[37.426208]
[-122.146011]
0024B10000029DF7
[37.426178]
[-122.146034]
0024B1000002BF6D
[37.42857]
[-122.143929]
0024B1000002ED11
[37.426208]
[-122.146011]
0024B10000033A0A
[37.426178]
[-122.146034]
0024B10000034209
[37.422131]
[-122.113441]
0024B1000003778F
[37.422112]
[-122.11348]
0024B10000025B77
[37.42857]
[-122.143929]
0024B1000003BE6F
[37.448238]
[-122.158203]
0024B1000003CD37
[37.422104]
[-122.11351]
0024B1000003CF38
[37.446651]
[-122.161919]
0024B1000003763E
[37.426582]
[-122.143425]
0024B1000003769F
[37.426655]
[-122.143417]
0024B10000037682
[37.42667]
[-122.143257]
0024B1000003765F
[37.426617]
[-122.143456]
0024B10000037653
[37.426563]
[-122.143379]
0024B10000037648
[37.426598]
[-122.143288]
0024B10000037626
[37.42662]
[-122.143326]
0024B10000037680
[37.426777]
[-122.143311]
0024B100000376F9
[37.426537]
[-122.143341]
0024B10000037652
[37.426643]
[-122.143372]
0024B100000375EE
[37.426773]
[-122.143402]
0024B100000374DD
[37.42672]
[-122.143326]
0024B1000003766E
[37.426823]
[-122.143394]

In [9]:
from geopy import distance
distance.distance((37.444572, -122.160309), (37.444489, -122.16037)).meters

10.676876872249307

In [10]:
distance.distance((37.444572, -122.160309), (37.444489, -122.16037)).meters

10.676876872249307

In [11]:
test = [1,2,3]
test[2]

3

In [70]:
for mac in MACs: 
    lats = df[df['MAC Address'] == mac]['Latitude'].unique()
    longs = df[df['MAC Address'] == mac]['Longitude'].unique() 
    #print(mac)
    #print(f'Latidude: {lats}')
    #print(f'Longitude: {longs}')
    #print(lats)
    #print(longs)

    if len(lats) > 1: 
        #print(lats)
        moves = []
        #print('Potential mover')
        for i in range(len(lats)-1):
            first = (lats[i], longs[i])
            then = (lats[i+1], longs[i+1])
            dist = distance.distance(first, then).meters
            moves.append(dist)
            if len(moves) <= 1:     
                print(f'{mac} moved {round(max(moves))} meters.')
            else: 
                print(f'{mac} moved {round(moves[0])} and then {round(moves[1])} meters.')
            
            #if max(moves) > 100: 
            #    if len(moves) <= 1:     
            #        print(f'{mac} moved {max(moves)} meters.')
            #    else: 
            #        print(f'{mac} moved {moves[0]} and then {moves[1]} meters.')

    else:
        pass#print('Stationary')

000D6F00015A9D76 moved 11 meters.
000D6F00009ED39E moved 273 meters.
000D6F0000A2108E moved 23 meters.
000D6F0000A20D9E moved 27 meters.
000D6F00009ED727 moved 3 meters.
000D6F00009DCC2B moved 1 meters.
000D6F00015A96E4 moved 7 meters.
0024B10000021146 moved 126 meters.
0024B100000207FA moved 131 meters.
0024B10000021329 moved 137 meters.
0024B100000213D1 moved 125 meters.
0024B100000213D1 moved 125 and then 2 meters.
0024B100000213B7 moved 131 meters.
0024B10000025959 moved 29 meters.
0024B10000025939 moved 36 meters.
0024B10000021327 moved 32 meters.
0024B100000203AD moved 54 meters.
0024B10000024213 moved 44 meters.

In [18]:
dfround = df.copy()
dfround['Latitude'] = round(dfround['Latitude'], 3)
dfround['Longitude'] = round(dfround['Longitude'], 3)

In [20]:
dfround[['Latitude', 'Longitude']]

        Latitude  Longitude
0         37.445   -122.160
1         37.445   -122.160
2         37.445   -122.160
3         37.445   -122.160
4         37.445   -122.160
...          ...        ...
259410    37.429   -122.144
259411    37.448   -122.158
259412    37.422   -122.114
259413    37.448   -122.158
259414    37.426   -122.146

[259415 rows x 2 columns]

In [65]:
for mac in MACs: 
    lats = dfround[dfround['MAC Address'] == mac]['Latitude'].unique()
    longs = dfround[dfround['MAC Address'] == mac]['Longitude'].unique()
       
    if len(lats) > 1 or len(longs) > 1: #it moves
        print(f'This station moves {max(len(lats), len(longs))-1} time(s).')  #How many times?
        #print(lats)
        #print(longs)
        
        if len(lats) == len(longs): #both moves
            moves1 = []
            for i in range(len(lats)-1):
                first1 = (lats[i], longs[i])
                then1 = (lats[i+1], longs[i+1])
                dist1 = distance.distance(first1, then1).meters
                moves1.append(dist1)
                
                print(f'{mac} moved {max(moves1)} meters.')
                
                
        elif len(lats) != len(longs):
            if len(lats) == 2: 
                #print('Only LATS changed')
                moves2 = []
                for j in range(len(lats)-1):
                    first2 = (lats[j], longs[j])
                    then2 = (lats[j+1], longs[j])
                    dist2 = distance.distance(first2, then2).meters
                    moves2.append(dist2)
                    print(f'{mac} moved {max(moves2)} meters.')
                
            elif len(longs) == 2: 
                #print('Only LONGS changed')
               
                moves3 = []
                for k in range(len(longs)-1):
                    first3 = (lats[k], longs[k])
                    then3 = (lats[k], longs[k+1])
                    dist3 = distance.distance(first3, then3).meters
                    moves3.append(dist3)
                    print(f'{mac} moved {max(moves3)} meters.')              
            else: 
                print('The code has to be rewritten...')
        else: 
            print('Something is weird...')

This station moves 1 time(s).
000D6F00015A9D76 moved 110.9859916659989 meters.
This station moves 1 time(s).
000D6F00009ED39E moved 283.8888120644709 meters.
This station moves 1 time(s).
000D6F0000A2108E moved 110.98602931811824 meters.
This station moves 1 time(s).
000D6F0000A20D9E moved 110.98602931811824 meters.
This station moves 1 time(s).
0024B10000021146 moved 110.98606696871673 meters.
This station moves 1 time(s).
0024B100000207FA moved 110.98606696871673 meters.
This station moves 1 time(s).
0024B10000021329 moved 110.98565284124716 meters.
This station moves 1 time(s).
0024B100000213D1 moved 110.98606696871673 meters.
This station moves 1 time(s).
0024B100000213B7 moved 110.98565284124716 meters.
This station moves 1 time(s).
0024B100000203AD moved 110.9859916659989 meters.
This station moves 1 time(s).
0024B10000024213 moved 110.98597284179765 meters.

In [21]:
for mac in MACs: 
    lats = dfround[dfround['MAC Address'] == mac]['Latitude'].unique()
    longs = dfround[dfround['MAC Address'] == mac]['Longitude'].unique() 
    #print(mac)
    #print(f'Latidude: {lats}')
    #print(f'Longitude: {longs}')

    if len(lats) > 1: 
        moves = []
        #print('Potential mover')
        for i in range(len(lats)-1):
            first = (lats[i], longs[i])
            then = (lats[i+1], longs[i+1])
            dist = distance.distance(first, then).meters
            moves.append(dist)
            if len(moves) <= 1:     
                print(f'{mac} moved {max(moves)} meters.')
            else: 
                print(f'{mac} moved {moves[0]} and then {moves[1]} meters.')
            
            #if max(moves) > 100: 
            #    if len(moves) <= 1:     
            #        print(f'{mac} moved {max(moves)} meters.')
            #    else: 
            #        print(f'{mac} moved {moves[0]} and then {moves[1]} meters.')

    else:
        pass#print('Stationary')

IndexError: index 1 is out of bounds for axis 0 with size 1